@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager navigationManager
@inject LoginService loginservice

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
       

           
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            
       
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    bool Ispresent = true;
    protected override async Task OnInitializedAsync()
    {

        var employee = await sessionStorage.GetItemAsync<Employee>("employee");
      
        loginservice.employee = employee;
        if (employee == null) navigationManager.NavigateTo("/"); 
        //Appstate.employee = employee;

    }
}
